*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav{
 
    Font-family:aurora #d77362;
    font-size: 2.5rem;
}

body { height: 100%; 
position: relative;

}
main { 
    display:grid;
    min-height: 100dvh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 2px;
    row-gap: 0.5rem;
    background-color:#f8edeb ;
    color:#d77362;
    Font-size: 20px;
    padding-right: 1rem;
    padding-left: 0.5rem;
    object-fit: cover;
}

main div img{
    width:100% ;
    height: 100%;
    object-fit: cover;
    padding: 0.5rem;
}

main .caja1{
    display: none;
}
        
 footer{
    Font-family:aurora; 
    font-size: 25px;
    color:#d77362;
    display: block;
    text-align: center;
 }

 


/* Crochet */

.titulos {
    Font-size: 20px;
    color:#d77362;
    display: block;
    margin-right: 0.5rem;
}

header {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content:space-between;
    padding-top: 1rem;
    padding-right: 1.5rem; 
    padding-left: 1rem;
    Font-family:aurora;
    font: #d77362;
}
       
header nav ul {
    color:#d77362;
    list-style: none;
    display: flex;
    gap: 1rem;
    list-style: none;
    align-content: center;
    font-size: 18px;
} 

.contenedor2{
    flex-direction: column;
    text-align: center;
    background-color:#f8edeb ;
    color:#d77362;
    Font-size: 20px;
    width:100% ;
    object-fit: cover;
    padding: 0.5rem;
}

 .footerCrochet{
    Font-family:aurora; 
    font-size: 15px;
    color:#d77362;
    text-align: center;
    margin-top: 0.5rem;
 }

@media (min-width: 600px) {
    main{
grid-template-columns: repeat(2, 1fr) ;
grid-template-rows: repeat (3, 20%) ;
       column-gap: 0.5 rem; 
       object-fit: cover;
    }
    main .caja2{
        grid-column: span 2;
        
    }

    main .caja3{
        grid-column: span 2;
        grid-row: span 2;
    }

    main .caja4{
        grid-column: span 2;
        grid-row: span 1;
    }

    @media (min-width: 1024px) {
        main{
            grid-template-columns: repeat(3, 1fr) ;
            grid-template-rows: repeat(5, 20%)
                   column-gap: 0.5 rem; 
                  
                }

    

        main .caja1{
            display: block;
        }
        main .caja1{
            grid-column: 1;
            grid-row:  1;
        }

        main .caja2{
            grid-column: span 2;
            grid-row: span 1;
        }
            main .caja3{
                grid-column: span 3;
                grid-row: span 2} 

        main .caja4{
            grid-column: span 4;
                grid-row: span 3} 

